html {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #F3F7F0;
}




* {
	box-sizing: border-box;
}

nav {
	padding: 15px;
	background: #393939;
	height: 80px;
	width: 95%;
}

nav a {
	color: #cfcfcf;
	text-decoration: none;
	margin-right: 10px;
	font-family:'Open Sans', sans-serif;
	display: inline-block;
}

form {
	max-width: 500px;
}

fieldset {
	border: none;
}

input,
textarea {
	font-family:'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0 10px 10px 0;
	width: 100%;
	padding: 15px;
	border: none;
}

textarea {
	height: 200px;
}

.contactbutton {
	font-family:'Open Sans', sans-serif;
	font-size: 18px;
	margin-top: 10px;
	width: 100%;
	background-color: #A93F55;
	color: #FFFFFF;
	height: 50px;
	border: none;
}

span {
	color: red;
}

select {
	font-family:'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0 0 10px 0;
	width: 100%;
	padding: 15px;
	position: relative;
  	display: inline-block;
	border: none;
	color: #6A6A6A;
}

.formp {
	font-family:'Open Sans', sans-serif;
	font-size: 30px;
}

.container {
	max-width: 1100px;
	margin: 1rem auto;
}

.form-error {
	background: #fbb;
	color: darkred;
	padding: 0.5rem 1rem;
}


h1 {
	font-family:'Open Sans', sans-serif;
	font-size: 30px;
	color: #A93F55;
}


.navbar:active {
	color: #525252;
}

.navbar {
	font-size:20px;
	padding: 0 10px;
}

label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}

.inputcheckbox {
	width: 15px;
	height: 15px;
	padding-left: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}

h3 {
	font-family:'Open Sans', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	display: inline-block;
	margin: auto;
}

/* Navbar */
.navlink {
	float: right;
	text-align: center;
	
}




/* Home */

.schools {
	border-radius: 25px;
	margin: 0 15px 20px 0;
	padding: 10px;
	float: left;
	width: 30%;
	height: 150px;
	background-color: #FFFFFF;
  }
  .p-schools {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
  }
  .loader {
	width: 60px;
	height: 60px;
	border: 10px solid #E2E2E2; 
	border-top: 10px solid #A93F55; 
	border-radius: 50%;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  /* About */

 .Tabs {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	margin: 0;
	color: #A93F55;	
}

.Tabscontent {
	background-color: #FFFFFF;
	border: 1px solid white;
	border-radius: 12px;
	width: 85%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #6A6A6A;
	padding:0 20px 0 20px;
}
*/
/*Contact*/

.label {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: green;
	text-align: center;
}


@media only screen and (min-width: 768px) {
	.dropdown {
		display: none;
	}
	.tabvertical {
		display: none;
	}
	.smallcontent {
		display: none;
	}
}


@media only screen and (max-width: 767px) {

body {
	  width: 100%;
	}

img {
	max-width: 40px;
}
.dropbutton {
	float: right;
	margin-right: 15px;
}

.dropdown-content {
	display: none;
	position: absolute;
	max-width: 160px;
	box-shadow: 0px 8px 16px 0px;
	z-index: 1;
}
.navbar {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.navbar:hover {
	background-color: #FFFFFF;
}
.dropdown:hover .dropdown-content {
	display: inline-block;
}


.smalldiv {
	border-radius: 15px;
	display: inline-block;
}
.tabvertical {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	margin: 0;
	padding: 10px;
	color: #A93F55;
	width: 85%;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.smallcontent {
	background-color: #E2E2E2;
	border: 1px solid white;
	width: 85%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #6A6A6A;
	padding:0 20px 0 20px;
}

.abouttabs {
	display: none;
}

.schools {
	width:90%;
	text-align: center;
}	

.navdiv {
	display: none;
}
}